<html lang="en">
<head>
    <title>Order Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function getOrderNo() { //2019-05-12-123923
            var d = new Date();

            var s =
                leadingZeros(d.getFullYear(), 4) + '-' +
                leadingZeros(d.getMonth() + 1, 2) + '-' +
                leadingZeros(d.getDate(), 2) + '-' +
                /**
                 leadingZeros(d.getHours(), 2) + ':' +
                 leadingZeros(d.getMinutes(), 2) + ':' +
                 leadingZeros(d.getSeconds(), 2) + '-' +
                 **/
                getRandomInt(10000,99999);

            return s;
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }



        function leadingZeros(n, digits) {
            var zero = '';
            n = n.toString();

            if (n.length < digits) {
                for (i = 0; i < digits - n.length; i++)
                    zero += '0';
            }
            return zero + n;
        }

        var order_no = getOrderNo();

        function remove_order(id){
            $("#"+id).remove();
        }

        function add_order(){
            // var table_no = $("#table_no option:selected").val();
            var waiter = $("#waiter").val();
            var menu_name = $("#menu_name option:selected").val();
            var message = $("#message").val();

            var id = getRandomInt(1111,9999);

            var html = '            <tr id="'+id+'">\n' +
                // '                <td>\n' +
                // '                    <input type="text" name="table_no[]" value="'+table_no+'" class="table_no"/>\n' +
                // '                </td>\n' +
                '                <td>\n' +
                '                    <input type="hidden" name="order_no[]" value="'+order_no+'" />\n' +
                '                    <input type="text" name="waiter[]" value="'+waiter+'" class="waiter" />\n' +
                '                </td>\n' +
                '                <td>\n' +
                '                    <input type="text" name="menu_name[]" value="'+menu_name+'" class="menu_name"/>\n' +
                '                </td>\n' +
                '                <td><input type="text" name="message[]" value="'+message+'" class="message"></td>\n' +
                '                <td>\n' +
                '                    <button type="button" onClick="remove_order(\''+id+'\');">Remove Order</button>\n' +
                '                </td>\n' +
                '            </tr>\n';

            $("#order_tbody").append(html);
            $("#order_table").show();
            $(".order_menu_order").show();
        }
    </script>
    <style>
        .table_no { width: 50px;}
        .waiter { width: 80px;}
        .menu_name { width: 100px;}
        .message { width: 150px;}
        .cooking_status { width: 90px;}
        #order_table {display: none;}
        .button_order {display: none;}
        @media(min-width:800px){#order_menu {display: none;}}
    </style>
</head>
<body>

<div class="container">
    <div>
        <span> <a href="order.html">1. Order</a></span>
        <span> <a href="kitchen.html">2. Kitchen</a></span>
        <span> <a href="check_out.html">3. Check Out</a></span>
    </div>
    <h2>Kitchen System Page</h2>
    <table class="table">
        <thead>
        <tr>
            <!--            <th>Table No.</th>-->
            <!--            <th>Order No.</th>-->
            <th>Waiter</th>
            <th>Order</th>
            <th>Message</th>
            <!--            <th>Receipt</th>-->
            <th>Cooking status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--            <td>$[id]</td>-->
            <td>${order_no}</td>
            <td>${waiter_name}</td>
            <td>${food_name}</td>
            <td>${message}</td>
            <!--            <td>${food_frice}</td>-->
            <td>
                <select id="cooking_status">
                    <option value="Not_started">Not Started</option>
                    <option value="Started">Started</option>
                    <option value="Completed">Completed</option>
                    <option value="Served">Served</option>
                    <option value="Cancel">Cancel</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container" id="order_menu">
    <form action="/order_save" method="post">

        <table class="table">
            <thead>
            <tr>
                <!--                <th>Table No.</th>-->
                <th>Waiter</th>
                <th>Order</th>
                <th>Message</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <!--                <td>-->
                <!--                    <select id="table_no">-->
                <!--                        <option value="1">1</option>-->
                <!--                        <option value="2">2</option>-->
                <!--                        <option value="3">3</option>-->
                <!--                        <option value="4">4</option>-->
                <!--                    </select>-->
                <!--                </td>-->
                <td>
                    <select id="waiter">
                        <option value="Mike">Mike</option>
                        <option value="Sarah">Sarah</option>
                    </select>
                </td>
                <td>
                    <select id="menu_name">
                        <option value="Steak">Steak</option>
                        <option value="Salad">Salad</option>
                        <option value="Pasta">Pasta</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </td>
                <td><input type="text" id="message" value="message"></td>
                <td>
                    <button type="button" onClick="add_order();">Add Order</button>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table" id="order_table">
            <thead>
            <tr>
                <!--                <th>Table No.</th>-->
                <th>Waiter</th>
                <th>Order</th>
                <th>Message</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody id="order_tbody">
            </tbody>
        </table>
        <button type="submit" class="button_order">Order</button>
    </form>
</div>
</body>
</html>

